
#root{
    height: 30000vh;
    font-family: 'Rubik', sans-serif;
}

:root{
    --gray-color:  #CFCFD3 ;
    --main-color:  #1A153D ;
    --second-color:  #29244A ;
    --third-color: #9C8EF4 ;
    --white: #F3F4F7 ;
}
.my-a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}
a{
    text-decoration: none;
}
.color-main{
    color: var(--main-color);
}
.bg-main{
    background-color: var(--main-color);
}
.btn-outline-main{
    border: 1px solid var(--main-color);
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.color-third{
    color: var(--third-color);
}
.btn-outline-main:hover{
    background-color: var(--main-color);
    /* border: 1px solid var(-  -white); */
    color: var(--white);
}